<div id="list-slider">
    <!-- List view Posts -->
    <div class="list-group">
        <a href="#" class="list-group-item disabled">List View</a>

        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>

        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>


        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>


        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>


        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>

        <a onclick="showDetailPost()" class="list-group-item">
            <h4 class="list-group-item-heading">VoiceOf!(Problem)</h4>
            <p class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p class="list-group-item-text">Endorsed By<span class="badge">+10000</span></p>
            <p class="list-group-item-text">Volunteers<span class="badge">100</span></p>
            <p class="list-group-item-text">Owned By<span class="badge">(UserName)</span></p>
        </a>



    </div>

    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
</div>