<div  align="center" class="modal fade" id="postDetails" tabindex="2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#ff5935;">
                    <span ng-show="post.stayAnonmous===true">Anonymous</span>
                    <span ng-hide="post.stayAnonmous===true">{{post.author}}</span>
                </h4>
            </div>
            <div align="right">
                <!--<div class="fb-share-button" data-href="http://www.your-domain.com/your-page.html" 
		data-layout="button_count" onlick="openFbPopUp();">
                
                </div> -->
                <button type="button" class="btn btn-default" ng-click="openFbPopUp();">Share</button>
                <!--<a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//chillana.in/" onclick="ga('send', 'event', 'Share', 'click', 'Facebook')" target="_blank"><img src='img/Facebook-Icon-D.png'/></a>-->
            </div>
            <div class="modal-body" align="center">
                    

<!--                <a class="list-group-item">
                    <p align="left" class="list-group-item-text">{{post.msg}}</p>
                    <img width="10%" ng-show="post.image && post.image.length>0" ng-src="{{post.image}}"/>
                    <video width="10%" ng-show="post.video && post.video.length>0" ng-src="{{post.video}}" controls></video>
                </a>-->
                <div class="media-body" style="padding-bottom:5px;">
                    <div class="media-body">
                        <p align="justify">{{post.jsonContent.msg}}</p>
                    </div>
                    <div class="media-left"> 
                        <a href="{{post.jsonContent.image}}" target="_blank" ng-show="post.jsonContent.image!==null && post.jsonContent.image.length>0"> <img class="media-object" src="" data-holder-rendered="true" ng-src="{{post.jsonContent.image}}" style="width: 64px; height: auto;"> </a>
                        <a href="{{post.jsonContent.video}}" target="_blank" ng-show="post.jsonContent.video!==null && post.jsonContent.video.length>0"> 
                            <video class="media-object" style="width: 175px; height: auto;">
                                <source dynamic-url src="" url="post.jsonContent.video"/>
                            </video>                            
                        </a>
                    </div>
                </div>

                <div class="input-group">
                    <input id="cmdTxt" ng-model="cmdTxt" type="text" placeholder="Type your Message here" class="form-control" aria-label="Text input with multiple buttons">
                    <div class="input-group-btn"> 
                        <button type="file" class="btn btn-default" aria-label="Camera">
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                        <button ng-click="submitCommand();" type="button" class="btn btn-default">Send</button>
                    </div>
                </div>

                <div class="message-box">
                    <div class="message-container">
                        <div ng-show="showCommentsLoading" align="center" style="margin-top: 10%;">Loading...</div>
                        <div ng-hide="showCommentsLoading" class="bs-example" data-example-id="media-alignment">
                            <div ng-show="post.comments!==null && post.comments.length>0" view-comment ng-repeat="comment in post.comments" comment="comment"></div>                                                                                   
                        </div>

                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" type="button"><span class="glyphicon glyphicon-ok"></span>  Completed</button>                        
                    <!--<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send"></span></button>-->

                </div>

            </div>
        </div>
    </div>
</div>