<div  align="center" class="modal fade" id="postDetails" tabindex="2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#ff5935;">Message with Comments</h4>
            </div>

            <div class="modal-body" align="center">


<!--                <a class="list-group-item">
                    <p align="left" class="list-group-item-text">{{post.msg}}</p>
                    <img width="10%" ng-show="post.image && post.image.length>0" ng-src="{{post.image}}"/>
                    <video width="10%" ng-show="post.video && post.video.length>0" ng-src="{{post.video}}" controls></video>
                </a>-->
                <div class="media-body" style="padding-bottom:5px;">
                    <div class="media-body">
                        <p align="justify">{{post.msg}}</p>
                    </div>
                    <div class="media-left"> 
                        <a href="{{post.image}}" target="_blank" ng-show="post.image!==null && post.image.length>0"> <img class="media-object" src="" data-holder-rendered="true" ng-src="{{post.image}}" style="width: 64px; height: 64px;"> </a>
                        <a href="{{post.video}}" target="_blank" ng-show="post.video!==null && post.video.length>0"> 
                            <video class="media-object" width="100%" controls>
                                <source dynamic-url src="" url="post.video" type="video/mp4"/>
                            </video>
                        </a>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" placeholder="Type your Message here" class="form-control" aria-label="Text input with multiple buttons">
                    <div class="input-group-btn"> <button type="file" class="btn btn-default" aria-label="Camera"><span class="glyphicon glyphicon-camera"></span></button>
                        <button type="button" class="btn btn-default">Send</button>
                    </div>
                </div>

                <div class="message-box">

                    <div class="message-container">
                        <div class="bs-example" data-example-id="media-alignment">
                            <div view-comment ng-repeat="comment in post.comments" comment="comment"></div>                                                                                   
                        </div>

                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" type="button"><span class="glyphicon glyphicon-ok"></span>  Completed</button>                        
                    <!--<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send"></span></button>-->

                </div>

            </div>
        </div>
    </div>
</div>